<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MediaManager.Plugins.CountDown.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MediaManager.Plugins.CountDown.Settings>
            <setting name="Duration" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="InitialDate" serializeAs="String">
                <value>2022-06-18</value>
            </setting>
            <setting name="FinalDate" serializeAs="String">
                <value>2000-01-01</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>Cuánto falta para...</value>
            </setting>
            <setting name="Description" serializeAs="String">
                <value>Mi jubilación</value>
            </setting>
            <setting name="Years" serializeAs="String">
                <value>1</value>
            </setting>
        </MediaManager.Plugins.CountDown.Settings>
    </userSettings>
</configuration>